.page-container {
    display: flex;
    flex-direction: column;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 1em;
}

.profile-info img {
    width: 15vw;
    min-width: 15em;
    height: fit-content;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    flex-wrap: wrap;
}

.profile-info-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}


h2 {
    margin-bottom: 0;
}

.profile-info-text p{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.favourite-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    max-width: 60em;
    padding: 1em;
    border: 0.2em solid white;
    border-radius: 3em;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.button-container {
    display: flex;
    gap: 1em;
}